.home, .users, .todos {
  margin: 5%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.userTable {
  border-collapse: collapse;
  width: 90%;
  margin-left: 6%;
}

.userTable td, .userTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.userTable tr:nth-child(even){background-color: #f2f2f2;}

.userTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #32b2d8;
  color: #ffffff;
}

.linkToUsers {
  position: absolute;
  left: 11%;
  top: 11%;
  border: 2px solid #32b2d8;
  border-radius: 5px;
  background-color: #32b2d8;
  color: #ffffff;
  padding: 4px;
  text-decoration: none;
  font-weight: bold;
}

#userLink {
  border: 2px solid #32b2d8;
  border-radius: 5px;
  background-color: #32b2d8;
  color: #ffffff;
  padding: 9px 23px 9px 23px;
  text-decoration: none;
  font-weight: bold;
}

.todosLink {
  border: 1px solid #32b2d8;
  border-radius: 5px;
  background-color: #32b2d8;
  color: #ffffff;
  padding: 3px;
  text-decoration: none;
  font-weight: bold;
}