.home, .users, .todos {
  margin: 6%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.userTable {
  border-collapse: collapse;
  width: 90%;
  margin-left: 6%;
}

.userTable td, .userTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.userTable tr:nth-child(even){background-color: #f2f2f2;}

.userTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #32b2d8;
  color: #ffffff;
}

.linkToUsers {
  position: absolute;
  left: 11%;
  top: 13%;
  border: 2px solid #32b2d8;
  border-radius: 5px;
  background-color: #32b2d8;
  color: #ffffff;
  padding: 4px;
  text-decoration: none;
  font-weight: bold;
}

#userLink {
  border: 2px solid #32b2d8;
  border-radius: 5px;
  background-color: #32b2d8;
  color: #ffffff;
  padding: 9px 23px 9px 23px;
  text-decoration: none;
  font-weight: bold;
}

.todosLink {
  border: 1px solid #32b2d8;
  border-radius: 5px;
  background-color: #32b2d8;
  color: #ffffff;
  padding: 3px;
  text-decoration: none;
  font-weight: bold;
}

.card {
  border: 2px solid #ddd;
  float: left;
  margin:10px;
  height: 228px;
  width: 30%;
  box-shadow: 2px 2px 2px #ddd;
  border-radius: 7px;
  cursor: pointer;
}

.card hr {
  border: 1px solid #ddd;
  width: 68%;
}

.avatar-icon {
  width: 15%;
}

.todo-card {
  border: 2px solid #ddd;
  float: left;
  margin: 10px;
  height: 152px;
  width: 30%;
  box-shadow: 2px 2px 2px #ddd;
  border-radius: 7px;
}

.todo-card-header-todo {
  height: 46px;
  background-color: #32b2d8;
  border: 1px solid #32b2d8;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
}

.todo-card-header-complete {
  height: 46px;
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
}

/* Media Queris for Tablet  ipad*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .card {
      width: 46%;
    }

    .linkToUsers {
      top: 9%;
    }
}

/* Media Queris for Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
  .card, .todo-card {
    width: 90%;
  }

  .linkToUsers {
    position: relative;
    left: 0;
    top: 0;
  }
}